# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

RAINY_COWORK_PLAN.md
MATECITO.md
rainy-sdk
rainy-api-v2
rainy-atm
rainy-docs
.agent/rules/cowork-architecture.md
COWORK_INFO.md

docs/*
plans/*

DESING_BASE.md
CLAWDBOT.md
VANGUARD.md
MANUS_AI_INFO.md
CLAWDBOT.md