# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

rainy-sdk
rainy-api-v2
rainy-atm
rainy-docs
.kilocode/mcp.json
.agent/rules/cowork-architecture.md

docs/*
plans/*

test-skills/*

*.md

rainy-mate-online
src-tauri/gen/
t3code